@model IEnumerable<WebAppPTCuenta.tarjeta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.num_tarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saldo_inicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.limite_credito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.num_tarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saldo_inicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.limite_credito)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tarjeta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tarjeta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tarjeta })
        </td>
    </tr>
}

</table>
